header h1{
    width: 281px;
    height: 130px;
    margin-top: 5px;
    margin-left: 6.8%;
}
header{
    background-color: #2CBF04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 23px;
}
header nav ul li{
    margin: 14px;
}
header nav ul li a{
    padding: 0.4em;
    transition: background-color 0.5s, border-radius 0.5s;
    color: white;
}
header nav.menu ul li a:hover{
    background-color:green;
    border-radius: 0.6em
}
.inheader{
    display: flex;
}
footer{
    background-color: #0073C7;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-top: 2.5em;
}
footer nav ul li{
    margin: 9px;
}
.cadastro{
    background-color: #0073C7;
    padding: 9px;
}
.login_cd{
    margin-right: 6.8%;
}
.login_cd ul li{
    margin: 12px;
}